<h1 class="text-center mt-5">AlphaBlog users</h1>
<div class="container col-8">
  <div class="apple_pagination">
    <%= will_paginate @users, :container => false %>
  </div>
</div>

<%=render 'users'%>
<div class="container col-8">
  <div class="apple_pagination mb-4">
    <%= will_paginate @users, :container => false %>
  </div>
</div>
