<div class="container" id="home_container">
  <div class="jumbotron text-center">
    <h1 class="display-4">AlphaBlog</h1>
    <p class="lead">This is a simple blogging site to feature content or information.</p>
    <hr class="my-4">
    <p class="lead">
      <%= link_to 'signup', signup_path, class: "btn btn-outline-primary btn-lg"%>
      <%= button_to 'start sidekiq job', simple_job_path, method: :post, class: "btn btn-success"%>
    </p>
  </div>
</div>
