<h1>Hello, <%=@obj.username%> welcome to AlphBlog</h1>

<p>
    We are so excited to have you.
</p>

<p>Create your first blog and share it with your friends using the <%=link_to "link", new_article_url%></p>

<p>Find some exciting blogs to read <%=link_to 'here', articles_url%></p>

<p>
    Team<br>
    AlphBlog
</p>